<div class="card m-4">
  <h4 class="card-header">Policies</h4>
  <div class="card-block">

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Policy ID &nbsp;
            <span class="clickable">
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th>Name &nbsp;
            <span class="clickable">
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policy of policies | async">
          <td>{{ policy.id }}</td>
          <td>{{ policy.name }}</td>
          <td>
            <button type="button" title="View" class="btn btn-primary btn-sm">
              <i class="fa fa-info" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <ngb-pagination [collectionSize]="1" [(page)]="page" aria-label="Default pagination"></ngb-pagination>

  </div>
</div>