<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right"  (click)="navbarCollapsed = !navbarCollapsed" type="button" data-toggle="collapse" data-target="#navbarExchange" aria-controls="navbarExchange" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">NGC</a>

  <div class="collapse navbar-collapse" id="navbarExchange" [ngbCollapse]="navbarCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/programs/manageprograms">Programs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/programs/devices">Devices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/programs/devicegroups">Device Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/programs/policies">Policies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/carriers">Carriers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Reporting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Help</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-0" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
  </div>
</nav>
