<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Pink Floyd Merch</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="#">Mens Shirts <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#">Ladies Shirts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#">Accessories</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" (click)="openLogin()">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="openSignUp()">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#"><i class="fa fa-shopping-bag"></i> Bag <span class="badge badge-pill badge-danger">0</span></a>
            </li>
        </ul>

    </div>
</nav>
