.navbar {
  background-color: #fdecf2;

  .logo-ico {
    display: block;
    width: 80px;
    height: 40px;
    float: left;
    background: url('../../../../assets/img/prism-ico.png');
    background-position: center;
  }
}
