<div class="card m-4">
  <h4 class="card-header">Manage Devices</h4>
  <div class="card-block">

  <ngb-alert *ngIf="(devices | async)?.length==0" [dismissible]="false">
    No devices found.
  </ngb-alert>


    <form [formGroup]="searchForm">
      <div class="row mt-4">
        <div class="col-sm-4 pb-3">
          <label for="id">Device ID</label>
          <input type="text" class="form-control" id="id" formControlName="id">
        </div>
        <div class="col-sm-4 pb-3">
          <label for="serialNumber">Serial Number</label>
          <input type="text" class="form-control" id="serialNumber" formControlName="serialNumber">
        </div>
        <div class="col-sm-4 pb-3">
          <label for="simId">Sim ID</label>
          <input type="text" class="form-control" id="simId" formControlName="simId">
        </div>

        <div class="col-sm-6 pb-3">
          <label for="fromDate">Date Added: From</label>
          <input type="date" class="form-control" id="fromDate" formControlName="fromDate">
        </div>
        <div class="col-sm-6 pb-3">
          <label for="toDate">Date Added: To</label>
          <input type="date" class="form-control" id="toDate" formControlName="toDate">
        </div>


        <div class="col-sm-8 pb-3">
          <p>Active</p>

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" id="active" formControlName="active" value="true"> True
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" id="active" formControlName="active" value="false"> False
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" id="active" formControlName="active" value="" checked> All
            </label>
          </div>

        </div>

        <div class="col-sm-12 pb-3">
          <button type="button" id="search" (click)="search()" class="btn btn-primary">Search</button>
        </div>
      </div>

    </form>

  </div>
</div>

<div class="card m-4" *ngIf="(devices | async)?.length > 0">
<h4 class="card-header">Devices</h4>
<div class="card-block">

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Device ID</th>
        <th>Serial Number</th>
        <th>Sim ID</th>
        <th>Active</th>
        <th>Date Added</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices | async" (click)="onSelectDevice(device.id)" class="clickable">
        <td>{{ device.id }}</td>
        <td>{{ device.serialNumber }}</td>
        <td>{{ device.simId }}</td>
        <td>{{ device.active }}</td>
        <td>{{ device.dateAdded }}</td>
      </tr>
    </tbody>
  </table>

</div>
</div>